<div id="root">
  <!-- START: HEADER -->
  <div id="header">
    <mat-toolbar color="primary">
      <span>{{title}}</span>
      <span style="flex: 1 1 0;"></span>
      <button mat-raised-button (click)="onAdd()">{{showAddTask ? "Close" : "Add"}}</button>
    </mat-toolbar>
  </div>
  <!-- STOP: HEADER -->
  <!-- START: CONTENT -->
  <div id="content">
    <div *ngIf="showAddTask" style="margin: auto;">
      <app-add-task (formData_ee)="onFormDataEE($event)"></app-add-task>
    </div>
    <br>

    <!-- START: TASK GENERATOR -->
    <div *ngIf="taskList.length > 0; else show_no_tasks" style>
      <div *ngFor="let task of taskList">
        <app-task id={{task.id}} [task]=task (isDelete_ee)="onTaskDelete($event)"></app-task>
      </div>
    </div>
    <!-- STOP: TASK GENERATOR -->

    <!-- START: NO TASKS MESSAGE -->
    <ng-template #show_no_tasks>
      <h3>No Tasks to Show</h3>
    </ng-template>
    <!-- STOP: NO TASKS MESSAGE -->
  </div>
  <!-- STOP: CONTENT -->
  <!-- START: FOOTER -->
  <div id="footer" style="text-align: center;">
    <div>Copyright &copy; {{todaysDate}}</div>
  </div>
  <!-- STOP: FOOTER -->
</div>
