<div id="container">
  <form [formGroup]="formData" (ngSubmit)="onSubmit(formData.value)">
    <mat-card>
      <mat-card-title> <h1>Add New Task</h1></mat-card-title>
      <mat-card-content>
        <!-- START: TITLE -->
        <div id="form-field">
          <label>Title: </label>
          <br />
          <input
            placeholder="Task Title"
            formControlName="title"
            type="text"
            required
          />
        </div>
        <!-- END: TITLE -->
        <br />
        <!-- START: DATE -->
        <div id="form-field">
          <label>Date/Time: </label>
          <br />
          <input type="date" formControlName="date" required/>
        </div>
        <!-- END: DATE -->
        <br />
        <!-- START: DESCIPTION -->
        <div id="form-field">
          <label>Description: </label>
          <br />
          <textarea
            placeholder="description"
            formControlName="description"
          ></textarea>
        </div>
        <!-- END: DESCRIPTION -->
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" color="primary">
          Create Task
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
